
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.main{
    display: block;
    min-height: 100vh;
    height: 100%;
    width: 95%;
    margin: 10px auto;
    border: 2px solid #000;
    background: #D5D5D5;
    padding: 20px;
    text-align: center;
}

.btn{
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    background: #FFF;
    cursor: pointer;
    transition: all .5s ease;
    margin: 20px;
}

.btn:hover{
    background:#000;
    color:#FFF;
    border-color: #FFF;
    padding: 7px 12px;
}

.grid{
    min-height: 100px;
    max-height: fit-content;
    display: grid;
    padding: 8px;
    grid-template-columns: repeat(5 , auto);
    border: 2px solid white;
    grid-gap: 1rem;
    justify-content: space-between;
    transition: .2s ease;
    
}
.gridItem{
    cursor:pointer;
    margin: 5px auto;
    border: 3px solid lightseagreen;
    height: 100px;
    min-width: 100px;
    text-align: center;
    width: fit-content;
    padding: 10px;
    background: linear-gradient(#167c77 0 0) var(--p,0)/var(--p,0) no-repeat;
    transition: all .2s;
    
}
.gridItem:hover{
    --p:100%;
    border: 3px solid rgb(22, 124, 119);
}


.dialog{
    position: absolute;
    top: 5%;
    left: 32%;
    height: 90vh;
    width: 70vh;
    justify-content: center;
    text-align: center;
    background-color: transparent;
}
.error{
    font-size: 32px;
}
header{
    height: 100px;
    background-color: red;
    text-align: end;
    padding: 10px;
    font-size: 22px;
}

@media (max-width:750px){
    .grid{
        grid-template-columns: repeat(3, auto);
        
    }
}

@media (max-width:414px){
    .grid{
        grid-template-columns:  repeat(2, auto);
    }
}
