@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Overpass:wght@300&family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #9c9a9a;
    --text-color: #fff;
    --main-color: #FFFC4F;
    --hd-color: rgb(181, 178, 178);
    --main-secundary: #555555;
}

body {
    overflow-x: hidden;
    padding: 0px;
    margin: auto;
    background: var(--bg-color);
}

header {
    background: var(--main-secundary);
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 12%;
    transition: all .50s ease;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-right: 3px;
}
#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}


.logo span {
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 500;
}

.navbar {
    display: none;
}

.cart {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--main-color);
}
.table{
    width: 150px;
    height: 120px;
    border: 2px solid black;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    color: black;
}
.table:hover{
    background-color: gray;
}
.qty{
    width: 50px;
    height: 50px;
}
.tables{
    display: grid;
    grid-gap: 30px;
    padding: 10px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    text-align: center;
    align-items: center;
    justify-items: start;
}
.tables h1{
    text-align: center;
}
.tables img{
    padding-left: 10px;
    right: 10px;
}
.tables-section{
    padding: 30px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}
.search-section{
    padding: 10px;
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.search-section input{
    width: 300px;
    border-radius:10px;
    border: 1px solid black;
    color: white;
    background-color:  #5d5b5b;
}
.addDiv{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.add{
    width: 70px;
    height: 50px;
    justify-content: center;
    background-color: green;
    border-radius: 15px;
    border: none;
}
.add:hover{
    background-color: rgba(0, 128, 0, 0.386);
}
.search-section input:hover{
    background-color: var(--main-secundary);
}
.search-section input:focus{
    border: 2px solid black;
}

.buttonAdd{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.buttonAdd button{
    background-color: rgb(43, 243, 43);
    border: none;
    border-radius: 10px;
    padding: 5px;
}
.buttonAdd button:hover{
    background-color: rgba(0, 128, 0, 0.27);
}
/* Adicione esta regra de mídia para dispositivos móveis */
/* Adicione esta regra de mídia para dispositivos móveis */
@media (max-width: 768px) {
    header {
        padding: 5px 5%;
    }

    .navbar {
        width: 100%;
        top: 70px;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar.open {
        right: 0;
    }

    .navbar a {
        margin: 12px 0;
        padding: 0px;
    }

    .tables-section {
        padding: 30px;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .tables {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, minmax(0, 1fr)); /* Defina as colunas para ocupar o espaço disponível */
        grid-gap: 10px;
        font-size: 9px;
    }
    .tables img{
        display: none;
    }

    .skip-first-column {
        grid-column-start: 2; /* Define a segunda coluna para ocupar o espaço da primeira coluna */
    }

    .table {
        width: 100px;
        height: 80px;
    }

    .tables img{
        display: none;
    }
}
