*{
    padding: 0;
    margin: 0;
    width: 100%;
}

.navbar{
    background-color: red;
    text-align: right;
    display: flex;
    padding: 13px 0 13px 0;
}
.navbar li{
    display: inline;
}

.navbar a{
    padding: 20px 15px 10px 20px;
    text-decoration: none;
    color: #434343;
    font-weight: bold;
}